<!-- App Home Page -->
<ion-header>
  <ion-navbar>
    <ion-title>
      G00398963
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Main Page contents -->
<ion-content padding class = "page-container">
  <!-- Display "No City Selected" based in the Settings values avalable in Storage --> 
  <div class = "displayMessage" *ngIf='showNoContent'>No City selected, please select a city in settings</div>

  <!--Container for the locations -->
     <div class = "displayMessage" *ngIf='showNoCityFound'>{{ this.cityName|titlecase }} not found, try another City from settings</div>
     <div class="weatherContainer" *ngIf='showContent'> 
      <!-- Div for each location information -->
       <div  class="weatherItem">
        <h2>News & Weather for {{ this.cityName|titlecase }}, {{ this.countryName }}</h2>
        <p>
          <img [src] = "this.flag" style="max-height: 50px;"> 
        </p>
        <hr>
        <h3>Temperature: {{ this.weatherInfo.temp }} ({{ this.units}}) </h3>
        <h3>Weather:</h3>
        <p class="weatherDisplay"> {{ this.weatherInfo.description }}</p>
       <br> 
        <img [src] = "this.weatherInfo.imageSrc" style="max-height: 80px;"> 
       <h3>Wind From:</h3> 
        <p class="weatherDisplay">{{ this.weatherInfo.windFrom|titlecase  }}</p>
      </div>
      <br>   
    </div>
  <hr> 
  
  <!-- News Section -->
  <!-- News Display Button is toggled based on user Click -->
  <button ion-button [disabled]="newsDisabled" (click)="toggleNewsButton()" *ngIf='showContent'>{{ this.newsLabel }}  {{ this.countryName }} News</button>
  <br>
  <br>
  <br>
  <br>
  <div [hidden]="hideNews"></div>
  <ng-container *ngIf='showNews'>
  <h4>{{ this.noNews }}News from {{ this.countryName }}</h4>
  <br>
  <br>

  <!-- Display top 5 News from the News API output -->   
  <ng-container *ngFor="let news  of newsArray; let i = index">
      <div *ngIf="i < 5">
        <span class="pull-right">
          <img [src] = "news.urlToImage" style="max-height: 50px;"> 
         </span>
         <p>{{ news.description }}</p>
        <h6><a href="{{news.url}}" target="_blank">{{news.title}}</a></h6>
      
      </div>
   </ng-container>
   </ng-container>

<br>
<br>
<br>
</ion-content>